$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-only-width: 767px;

$dark-background-color: #1d1e25;
$light-background-color: #ffffff00;

$button-dark-color: #1d1e25;
$button-light-color: #ffffff;

$font-dark-color: #1d1e25;
$font-light-color: #ffffff;
$mini-font-color: #7e8492;
