.news {
  padding-top: 0;
}

.news__container {
  position: relative;
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  overflow-x: scroll;
  box-sizing: border-box;
}

.news__scroll-button {
  position: absolute;
  z-index: 2;
}

.news__item:not(:first-of-type) {
  margin-left: 16px;
}
