.promo {
  position: relative;
  padding: 30px 0;
}

.promo__title {
  font-size: 32px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 48px;
  line-height: 40px;
}

.promo__text {
  position: relative;
  padding-left: 32px;
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  max-width: 400px;
}

.promo__text::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 0;
  width: 24px;
  height: 1px;
  background-color: $dark-background-color;

  @media (min-width: $tablet-width) {
    top: 14px;
    width: 40px;
  }
}

.promo__free-try-form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 8px;
  max-width: 450px;
  margin: 0 auto 56px;
}

.promo__input-email {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid #7e8492;
  background-color: $light-background-color;
}

.promo__input-email:focus {
  outline: none;
}

.promo__statistics-wrapper {
  position: relative;
  background-color: #ffffff;
  max-width: 370px;
  margin: 0 auto 24px;
  border-radius: 6px;
}

.promo__chart {
  box-shadow: 16.047px 32.094px 64.187px 0px rgba(89, 96, 135, 0.12);
  padding: 16px;
  border-radius: 6px;
}

.promo__title-statistics {
  margin: 0;
  margin-bottom: 20px;
  line-height: 24px;

  &--mini {
    font-size: 8px;
    margin-bottom: 6px;
    line-height: 16px;
  }
}

.promo__chart-mini {
  position: absolute;
  top: 0;
  right: -38px;
  padding: 10px;
  padding-right: 0;
  background-color: inherit;
  box-shadow: 11.11px 22.22px 44.44px 0px rgba(45, 51, 81, 0.12);
}

.promo__trends {
  margin: 0 auto 24px;
}

.promo__background-1,
.promo__background-2,
.promo__background-3 {
  position: absolute;
  z-index: -1;
}

.promo__background-1 {
  top: -90px;
  left: -50px;
  color: #fa741529;
}

.promo__background-2,
.promo__background-3 {
  color: #d1faebcc;
}

.promo__background-2 {
  top: 101px;
  right: -99px;
}

.promo__background-3 {
  bottom: 48px;
  right: -83px;
}
